.header {
  min-height: 80vh;

  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
    url(../../public/pexels-quang-nguyen-vinh-14036107.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.headerContent {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 10%;
  margin-top: 2rem;
}

.headerContent .role {
  /* align-self: flex-start; */
  margin-top: 1rem;
}