.header {
  min-height: 50vh;

  /* background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
    url(../../public/pexels-quang-nguyen-vinh-14036107.jpg); */
  background-color: #78BBE6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.headerContent {
  color: black;
  font-size: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 10%;
  margin-top: 2rem;
}

.headerContent .role {
  /* align-self: flex-start; */
  margin-top: 1rem;
}

.callToActionButtons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.callToActionButtons .resumeButton,
.githubButton {
  padding: .5rem 2rem;
  border: 0px solid black;
  border-radius: 20px;
  cursor: pointer;
  /* background-color: rgb(32, 42, 70); */
  font-weight: bold;
}

.main {
  background-color: #78BBE6;
  color: black;
  padding-bottom: 1rem;
}