.header {
  min-height: 80vh;

  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
    url(../../public/pexels-quang-nguyen-vinh-14036107.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.headerContent {
  color: white;
  font-size: 3rem;
  margin: 2rem 0rem 0rem 4rem;
}

.headerContent .role {
  margin-top: 1rem;
}