.contactContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.contactContainer h3 {
    font-size: 3rem;
    border-bottom: 1px solid black;
    width: 15rem;
    margin-bottom: 1rem;
}

.contactContainer form {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem
}

.contactContainer textarea {
    resize: none;
}